/** Go Up button **/

#goUpBtn {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
    border: 1.75px solid var(--color-white);
    padding: .5px;
    outline: none;
    // background-color: var(--color-green);
    background-color: rgba(0, 95, 64, .5);
    color: var(--color-white);
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

#goUpBtn:hover {
    background-color: var(--color-coral-secondary);
    color: var(--color-white);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#goUpBtn:hover > i {
    color: var(--color-white);
}

.fa-angles-up {
    font-size: 16px;
    color: var(--color-white);
}

.fa-angle-left, .fa-angle-right {
    font-size: 26px;
    color: var(--color-green);
}

.fa-angle-left:hover, .fa-angle-right:hover {
    color: var(--color-coral-secondary);
}