.index__img_vertical, .index__img, .index__img_horizontal {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 20%;
    object-position: 50% 20%;
}

.index__img_vertical {
    width: 450px;
    height: 650px;
}

.index__img_horizontal {
    width: 600px;
    height: 500px
}
@media (max-width: 992px) {
    .acorn__img {
        height: 150px;
        width: 150px;
        opacity: .9;
    }
}