.index__img_vertical, .index__img_horizontal {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 20%;
    object-position: 50% 20%;
    box-shadow: 0 4px 8px rgba(52, 58, 64, .7);
}

.index__img_vertical {
    width: 450px;
    height: 650px;
}

.index__img_horizontal {
    width: 600px;
    height: 500px
}
@media (max-width: 992px) {
    .acorn__img {
        height: 150px;
        width: 150px;
        opacity: .9;
    }
}

@media (min-width: 992px) and (max-width: 1023px) {

    .acorn__img {
        display: none;
    }
}

@media (max-width: 389px) {

    .acorn__img {
        display: none;
    }
}

@media (min-width: 1024px) {

    .acorn__img {
        height: 100px;
        width: 100px;
    }
}