.rec-logo-footer {
    width: 250px;
    height: auto;
}
@media (max-width: 767px) {
    .logo_img {
        width: auto;
        height: 150px;
    }
}

@media (min-width: 768px) {

    .logo_img {
        height: 125px;
        width: auto;
    }
}