#logo_img {
    width: auto;
    height: 150px;
}

@media (max-width: 760px) {

    #logo img {
        width: auto;
        height: 300px;
    }
}

.rec-logo-footer {
    width: 250px;
    height: auto;
}