// COLORS VARIABLES
:root {
    // --color-red: #DF1219;
    --color-green-secondary: #135343;
    --color-black: #000;
    --color-grey: #343a40;
    --color-grey-secondary: #495057;
    --color-green: #005f40; 
    --color-white: #ededed;
    --color-coral: #f2827f;
    --color-coral-secondary: #ee5d58;

}

// Basic site styling

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0;
}

body {
    color: var(--color-grey);
    background-color: var(--color-white);
    min-height: 100vh;
    
}
    
.container {
  padding: 0 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.notification-container {
    padding-top: 35rem;
}
// Ensure paragraphs fill the column form end to end
p {
    text-align: justify;
}