@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@348;400&display=swap');

// FONTS VARIABLES
:root {
    --font-main:'Montserrat', sans-serif;
    --font-header:'Montserrat', sans-serif;
    --font-large: 3.5rem;
    --font-medium: 2.5rem;
    --font-small: 1.4rem;
    --font-small-print: 1rem;
    // footer specific font size
    --font-xxs: 1.2rem;
    --font-weight-light: 348;
    --font-weight-medium: 400;
}

body {
    font-family: var(--font-main);
    font-weight: var(--font-weight-medium);
    font-weight: normal;
    font-style: normal;
    font-size: calc(var(--font-small) + .2vw);
    line-height: 1.7;
}

.h1,
.h2,
.h3 {
    font-family: var(--font-header);
    text-transform: uppercase;
}

.h1 {
    font-size: var(--font-large);
}

.h2 {
    font-size: var(--font-medium);
}

.h3 {
    font-size: var(--font-small);
}

.paragraph {
    font-weight: var(--font-weight-light);
}
.small-print {
    font-size: calc(var(--font-small-print) + .2vw);
}

.url-link, .url-link:hover {
    color: var(--color-white);
}
.url-link:hover {
    font-weight: bold;
    transition: .5s;
    color: var(--color-coral-secondary);
}