/* header - site navigation */

.desktop-nav-row, .mobile-nav-row {
    background-color: var(--color-green);
}
.navbar #navigation {
    margin-right: -15px;
    margin-left: -15px;
}

.nav-link-header {
    // display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link-header,
.dropdown-menu-header li a {
    // font-size: 1.2rem;
    font-family: var(--font-text);
    font-weight: var(--font-semi-bold);
    // font-family: var(--font-header);
    letter-spacing: 0.2vw;
    color: var(--color-white);
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end; 

}

.nav-link-header:focus,
.nav-link-header:hover,
.dropdown-menu-header li a:focus,
.dropdown-menu-header li a:hover, 
.consultation-btn:hover,
.consultation-btn a:hover {
    text-decoration: none;
    background-color: var(--color-coral-secondary);
    color: var(--color-white);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.nav-item:hover, 
.consultation-btn:hover {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
}

.fa-grip-lines {
    color: var(--color-green);
    font-size: 2.5rem;
}

.consultation-btn {
    background-color: var(--color-coral);
}
.consultation-btn span {
    font-size: 1.8rem;
}

// .consultation-btn:hover, .consultation-btn a:hover {
//     background-color: var(--color-coral-secondary);
// }

@media (max-width: 767px) {

    .nav-link-header,
    .dropdown-menu-header li a {
        font-size: 1.2rem;
    }
    .consultation-btn span {
        font-size: 1.6rem;
    }
}

@media (min-width: 768px) {

    .nav-link-header,
    .dropdown-menu-header li a {
        font-size: 1rem;
    }
}