#contact {
    background-image: url('https://res.cloudinary.com/dktjdf0v1/image/upload/v1715285951/fmpconsulting/FMP_Brand-13_wpupup.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    color: var(--color-green);
}

.hr-line {
    width: 25%;
    color: var(--color-green);
    opacity: 1;
    border: 1px;
    border-style: solid;
    margin-top: 3rem;
}

#contact p {
    font-family: var(--font-header);
    font-style: italic;
    color: var(--color-green);
}

// Using rgba to achieve required opacity
#contact .url-link {
    color: rgba(0, 95, 64, 1)
}
#contact .url-link:hover {
    color: rgba(238, 93, 88, 1);
}
#contact .row {
    background-color: rgba(237, 237, 237, 0.7);

}