.contact-section-background {
    background-image: url('https://res.cloudinary.com/dktjdf0v1/image/upload/v1712870558/fmpconsulting/sergey-zolkin-_UeY8aTI6d0-unsplash_h5cxcl.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    color: var(--color-white);
}