#contact-section-background {
    background-image: url('https://res.cloudinary.com/dktjdf0v1/image/upload/v1712870553/fmpconsulting/pexels-cottonbro-studio-4065617_ukicru.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    color: var(--color-coral);
}